<!DOCTYPE html>
<html>
<head>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

<title>Facemash</title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "facebook", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body>

<body background="~/Downloads/back.jpeg">



<div id="user_nav">
<% if !current_user %>
<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
<% end %>
</div>




<%= yield %>

</body>
</html>
